primary {
  color: var(--chalk-primary);
}

accent {
  color: var(--chalk-accent);
}

note {
  color: var(--chalk-note);
}

warning {
  color: var(--chalk-warning);
}

alert {
  color: var(--chalk-alert);
}

info {
  color: var(--chalk-info);
}

success {
  color: var(--chalk-success);
}

creative {
  color: var(--chalk-creative);
}

highlight-primary {
  color: var(--chalk-highlight-primary);
}

highlight-key {
  color: var(--chalk-highlight-key);
}

highlight-support {
  color: var(--chalk-highlight-support);
}

highlight-creative {
  color: var(--chalk-highlight-creative);
}

highlight-caution {
  color: var(--chalk-highlight-caution);
}

highlight-info {
  color: var(--chalk-highlight-info);
}

size-6xs {
  font-size: var(--chalk-size-6xs);
}

size-5xs {
  font-size: var(--chalk-size-5xs);
}

size-4xs {
  font-size: var(--chalk-size-4xs);
}

size-3xs {
  font-size: var(--chalk-size-3xs);
}

size-2xs {
  font-size: var(--chalk-size-2xs);
}

size-xs {
  font-size: var(--chalk-size-xs);
}

size-sm {
  font-size: var(--chalk-size-sm);
}

size-md {
  font-size: var(--chalk-size-md);
}

size-lg {
  font-size: var(--chalk-size-lg);
}

size-xl {
  font-size: var(--chalk-size-xl);
}

size-2xl {
  font-size: var(--chalk-size-2xl);
}

size-3xl {
  font-size: var(--chalk-size-3xl);
}

size-4xl {
  font-size: var(--chalk-size-4xl);
}

size-5xl {
  font-size: var(--chalk-size-5xl);
}

size-6xl {
  font-size: var(--chalk-size-6xl);
}

font-primary {
  font-family: var(--chalk-font-primary);
}

font-comic {
  font-family: var(--chalk-font-comic);
}

font-code {
  font-family: var(--chalk-font-code);
}

font-math {
  font-family: var(--chalk-font-math);
}